:root,
[data-bs-theme=light] {

  /* =======================
     COLORS
  ======================= */

  --tblr-blue: #D10F1B;
  --tblr-indigo: #b50f1a;
  --tblr-purple: #9e0d18;
  --tblr-pink: #d6336c;
  --tblr-red: #D10F1B;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;

  --tblr-black: #040A11;
  --tblr-white: #ffffff;

  --tblr-gray: #667382;
  --tblr-gray-dark: #182433;
  --tblr-gray-100: #f6f8fb;
  --tblr-gray-200: #eef1f4;
  --tblr-gray-300: #dadfe5;
  --tblr-gray-400: #bbc3cd;
  --tblr-gray-500: #929dab;
  --tblr-gray-600: #667382;
  --tblr-gray-700: #3a4859;
  --tblr-gray-800: #182433;
  --tblr-gray-900: #040A11;

  /* =======================
     BRAND
  ======================= */

  --tblr-primary: #D10F1B;
  --tblr-secondary: #667382;
  --tblr-success: #2fb344;
  --tblr-info: #4263eb;
  --tblr-warning: #f76707;
  --tblr-danger: #D10F1B;
  --tblr-light: #fcfdfe;
  --tblr-dark: #182433;
  --tblr-muted: #667382;

  /* =======================
     RGB
  ======================= */

  --tblr-primary-rgb: 209, 15, 27;
  --tblr-secondary-rgb: 102, 115, 130;
  --tblr-success-rgb: 47, 179, 68;
  --tblr-info-rgb: 66, 99, 235;
  --tblr-warning-rgb: 247, 103, 7;
  --tblr-danger-rgb: 209, 15, 27;
  --tblr-light-rgb: 252, 253, 254;
  --tblr-dark-rgb: 24, 36, 51;
  --tblr-muted-rgb: 102, 115, 130;

  /* =======================
     TEXT EMPHASIS
  ======================= */

  --tblr-primary-text-emphasis: #7a0a12;
  --tblr-secondary-text-emphasis: #3a4859;
  --tblr-success-text-emphasis: #13481b;
  --tblr-info-text-emphasis: #1a3d5a;
  --tblr-warning-text-emphasis: #632903;
  --tblr-danger-text-emphasis: #7a0a12;

  /* =======================
     SUBTLE BACKGROUND
  ======================= */

  --tblr-primary-bg-subtle: #fde2e5;
  --tblr-secondary-bg-subtle: #e0e3e6;
  --tblr-success-bg-subtle: #d5f0da;
  --tblr-info-bg-subtle: #d9ebf9;
  --tblr-warning-bg-subtle: #fde1cd;
  --tblr-danger-bg-subtle: #fde2e5;

  /* =======================
     BORDERS
  ======================= */

  --tblr-primary-border-subtle: #f3b6bc;
  --tblr-secondary-border-subtle: #c2c7cd;
  --tblr-success-border-subtle: #ace1b4;
  --tblr-info-border-subtle: #b3d6f3;
  --tblr-warning-border-subtle: #fcc29c;
  --tblr-danger-border-subtle: #f3b6bc;

  /* =======================
     BODY
  ======================= */

  --tblr-body-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  --tblr-body-font-size: 0.875rem;
  --tblr-body-font-weight: 400;
  --tblr-body-line-height: 1.4285714286;

  --tblr-body-color: #182433;
  --tblr-body-color-rgb: 24, 36, 51;
  --tblr-body-bg: #f9f3f4;
  --tblr-body-bg-rgb: 249, 243, 244;

  /* =======================
     LINKS
  ======================= */

  --tblr-link-color: #D10F1B;
  --tblr-link-hover-color: #B80D17;
  --tblr-link-decoration: none;

  /* =======================
     BORDERS & SHADOWS
  ======================= */

  --tblr-border-width: 1px;
  --tblr-border-style: solid;
  --tblr-border-color: #dadfe5;
  --tblr-border-radius: 4px;
  --tblr-border-radius-lg: 8px;

  --tblr-box-shadow: rgba(24, 36, 51, 0.04) 0 2px 4px 0;
}
[data-bs-theme=dark] {
    color-scheme: dark;
  
    --tblr-primary: #E10613;
    --tblr-primary-rgb: 225, 6, 19;
    --tblr-danger: #E10613;
    --tblr-danger-rgb: 225, 6, 19;
  
    --tblr-body-color: #fcfdfe;
    --tblr-body-bg: #040A11;
  
    --tblr-secondary-color: rgba(252, 253, 254, 0.7);
    --tblr-muted: #a3abb4;
  
    --tblr-secondary-bg: #182433;
    --tblr-tertiary-bg: #0e1722;
  
    --tblr-border-color: #1f2e41;
  
    --tblr-primary-bg-subtle: #2b0b0f;
    --tblr-primary-border-subtle: #6d151c;
    --tblr-primary-text-emphasis: #ff6b73;
  
    --tblr-link-color: #ff6b73;
    --tblr-link-hover-color: #ff8a91;
  }
  
.navbar-brand-image {
    height: 4rem;
    width: auto;
  }

   
.card-text {
   background-color: rgba(255, 255, 255, 0.95); /* Blanc quasi opaque */
   color: #1a202c; /* Un noir adouci */
   padding: 1rem;
   border-radius: 8px;
   border: 2px solid #a32a2a; /* Le rappel rouge de votre exemple */
   box-shadow: 0 4px 15px rgba(0,0,0,0.1);
 }
 .text-on-forest {
   /*color: white;
   font-weight: bold;*/
   /* Ombre : 0px décalage, 0px décalage, 8px de flou noir */
   /*text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); */
 }
.bg-custom {
   background-color: rgba(114, 126, 140, 0.5); /* Blanc quasi opaque */

}
html {
   margin: 0px !important;
}